/*css del boton*/
.filter{
    background: none;
    border: none;
    color: var(--text-color-completed);
    font-weight: bold;
    font-size: 0.875rem;
    cursor: pointer;
}

.filter-active{
    color: var(--filter-active);
}
    