:root{
    --body-bg-light: #fafafa;
    --body-bg-dark: #171823;
     --task-bg-light: #fff;
     --task-bg-dark: #25273D;
     --text-color-light: #494c6b;
     --text-color-dark: #C8CBE7;
     --text-color-completed: #9092a5;
     --placeholder-color: #9495a5;
     --tasks-shadow: rgba(170, 170, 170, 0.3);
     --tasks-shadow-light: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);;
     --filter-active: #3a7cfd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}
