.header{
    background-image: url(/assets/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
    height: 201px;
}
.header-light{
    background-image: url(/asset/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    height: 201px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--body-bg-light);
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.switch-light{
    background-image: url(/asset/icon-sun.svg);
}
.main{
    position: absolute;
    top: 6.75rem;
    left: 50%;
    transform: translateX(-50%);
}
.form {
    position: relative;
}
.label-task {
    position: absolute;
    top: 0.8rem;
    left: 1.25rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--text-color-completed);
}
.input-task{
    height: 3rem;
    width: 327px;
    padding-left: 3.5rem;
    margin-bottom: 1rem;
    font-size: 18px;
    color: var(--placeholder-color);
    background-color: var(--task-bg-dark);
    border-radius: 0.4rem;
    border: none;
    outline: none;
    box-shadow: 0 15px 15px -5px var(--tasks-shadow);
}  
.class-delete{
    display: block; /*cambiar luego a none*/
}
.class-delete:hover{
    display:block;
}
.tasks-footer {
    display: flex;
    width: 327px;
    justify-content: space-between;
    padding: 1.25rem;
    font-size: 0.75rem;
    color: var(--placeholder-color);
    background-color: var(--task-bg-dark);
    margin-bottom: 1rem;
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: var(--tasks-shadow);
}
.filters{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    padding-inline: 5.0625rem;
    background-color: var(--task-bg-dark);
    border-radius: 0.3125rem;
    width: 327px;
    height: 48px;
}

/*light mode*/
body.light {
    background-color: var(--body-bg-light);
  }
  
  body.light .task-container {
    background-color: var(--task-bg-light);
    box-shadow: var(--tasks-shadow-light);
    color: var(--text-color-light);
  }
  
  body.light .input-task {
    background-color: var(--task-bg-light);
    box-shadow: var(--tasks-shadow-light);
  }
  
  body.light .tasks-footer {
    background-color: var(--task-bg-light);
    box-shadow: var(--tasks-shadow-light);
    color: var(--text-color-light);
  }
  
  body.light .filters {
    background-color: var(--task-bg-light);
  }
  
  body.light .task-text {
    color: var(--text-color-light);
  }
  
  body.light .task-text::after {
    border: 1px solid var(--text-color-completed);
  }